.slider {
  width: 80%;
}

.hero-header {
  background-image: url("../images/bokeh.gif");
  background-size: cover;
}

.home{

  background: #00A6D3;

}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}
